body{
    background: darkgoldenrod url(imagens/fundo.png);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
#principal{
    border: 1px solid;
    width: 500x;
    height: 25px;  
}
.link{
    padding: 10%;
    color:;
}